<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="review.classdesign.jammy.commands.category"
            name="Jammy">
      </category>
      <command
            categoryId="review.classdesign.jammy.commands.category"
            defaultHandler="review.classdesign.jammy.handler.wizard.ContestHandler"
            id="review.classdesign.jammy.command.contestselection"
            name="Select contest">
      </command>
      <command
            categoryId="review.classdesign.jammy.commands.category"
            defaultHandler="review.classdesign.jammy.handler.wizard.LoginHandler"
            id="review.classdesign.jammy.command.login"
            name="Login">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Jammy">
            <command
                  commandId="review.classdesign.jammy.command.login"
                  label="Login"
                  style="push">
            </command>
            <command
                  commandId="review.classdesign.jammy.command.contestselection"
                  id="review.classdesign.jammy.contribution.select"
                  label="Select contest"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="review.classdesign.jammy.logged">
                     <equals
                           value="true">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="review.classdesign.jammy.model.session.GoogleSessionProvider">
         <variable
               name="review.classdesign.jammy.logged"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
