<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="review.classdesign.jammy.addons" name="Jammy Addons" schema="schema/review.classdesign.jammy.addons.exsd"/>

 
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="review.classdesign.jammy.service.factory.GoogleSessionServiceFactory">
         <service
               serviceClass="review.classdesign.jammy.service.IGoogleSessionService">
         </service>
      </serviceFactory>
      <serviceFactory
            factoryClass="review.classdesign.jammy.service.factory.SubmissionServiceFactory">
         <service
               serviceClass="review.classdesign.jammy.service.ISubmissionService"></service>
      </serviceFactory>
      <sourceProvider
            provider="review.classdesign.jammy.service.internal.GoogleSessionProvider">
         <variable
               name="review.classdesign.jammy.logged"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="review.classdesign.jammy.commands.category"
            name="Jammy">
      </category>
      <command
            categoryId="review.classdesign.jammy.commands.category"
            defaultHandler="review.classdesign.jammy.command.OpenSolverCommand"
            id="review.classdesign.jammy.command.opensolver"
            name="Open problem solver">
      </command>
      <command
            categoryId="review.classdesign.jammy.commands.category"
            defaultHandler="review.classdesign.jammy.command.RunSampleDatasetCommand"
            id="review.classdesign.jammy.command.runtest"
            name="Run sample dataset">
      </command>
   </extension>
     <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Jammy">
            <command
                  commandId="review.classdesign.jammy.command.contestselection"
                  id="review.classdesign.jammy.contribution.select.contest"
                  label="Select contest"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:review.classdesign.jammy.menu.contest?after=contest.contribution">
         <command
               commandId="review.classdesign.jammy.command.opensolver"
               label="Open problem solver"
               style="push">
         </command>
         <command
               commandId="review.classdesign.jammy.command.runtest"
               label="Run sample dataset"
               style="push">
         </command>
      </menuContribution>
   </extension>
   

</plugin>
