<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="fr.faylixe.jammy.commands.category"
            defaultHandler="fr.faylixe.jammy.ui.command.ContestSelectionCommand"
            description="Start the contest selection wizard"
            id="fr.faylixe.jammy.command.contestselection"
            name="Select contest">
      </command>
      <command
            categoryId="fr.faylixe.jammy.commands.category"
            defaultHandler="fr.faylixe.jammy.ui.command.RefreshProblemCommand"
            description="Reload the currently selected problem data"
            id="fr.faylixe.jammy.command.refreshproblem"
            name="Refresh problem">
      </command>
      <command
            categoryId="fr.faylixe.jammy.commands.category"
            defaultHandler="fr.faylixe.jammy.ui.command.OpenDatasetEditorCommand"
            description="Open an editor for modifying dataset input and output files"
            id="fr.faylixe.jammy.command.opendataseteditor"
            name="Edit dataset">
      </command>
      <command
            categoryId="fr.faylixe.jammy.commands.category"
            defaultHandler="fr.faylixe.jammy.ui.command.RunOnlineDatasetCommand"
            description="Open submission wizard and starts submission."
            id="fr.faylixe.jammy.command.runonlinedataset"
            name="Run online dataset">
      </command>
     </extension>
    <extension
         point="org.eclipse.ui.views">
      <category
            id="fr.faylixe.jammy.view.category"
            name="Jammy">
      </category>
      <view
            category="fr.faylixe.jammy.view.category"
            class="fr.faylixe.jammy.ui.view.SubmissionView"
            icon="platform:/plugin/fr.faylixe.jammy.ui/icons/submission.view.png"
            id="fr.faylixe.jammy.view.submission"
            name="Submission"
            restorable="true">
      </view>
      <view
            category="fr.faylixe.jammy.view.category"
            class="fr.faylixe.jammy.ui.view.ProblemView"
            icon="platform:/bundle/fr.faylixe.jammy.ui/icons/problem.view.png"
            id="fr.faylixe.jammy.view.problem"
            name="Problem description"
            restorable="true">
         <description>
            This view displays the currently selected problem description.
         </description>
      </view>
      <view
            category="fr.faylixe.jammy.view.category"
            class="fr.faylixe.jammy.ui.view.ContestExplorer"
            icon="platform:/bundle/fr.faylixe.jammy.ui/icons/contest.view.png"
            id="fr.faylixe.jammy.view.contest"
            name="Contest Explorer"
            restorable="true">
         <description>
            Contest explorer allows to navigate between each problem exposed by the currently selected CodeJam round.
         </description>
      </view>
   </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="fr.faylixe.jammy.ui.view.PreferencePage"
             id="fr.faylixe.jammy.preferences.root"
             name="Jammy">
       </page>
    </extension>
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="fr.faylixe.jammy.ui.JammyPerspectiveFactory"
             icon="platform:/bundle/fr.faylixe.jammy.ui/icons/jammy.png"
             id="fr.faylixe.jammy.perspective"
             name="Jammy">
       </perspective>
    </extension>
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Jammy">
            <command
                  commandId="fr.faylixe.jammy.command.contestselection"
                  id="fr.faylixe.jammy.contribution.select.contest"
                  label="Select contest"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:fr.faylixe.jammy.menu.contest?after=contest.contribution">
         <menu
               label="Solver">
            <command
                  commandId="fr.faylixe.jammy.command.opensolver"
                  label="Open"
                  style="push">
            </command>
         </menu>
         <menu
               label="Sample dataset">
            <command
                  commandId="fr.faylixe.jammy.command.runtest"
                  label="Run"
                  style="push">
            </command>
            <command
                  commandId="fr.faylixe.jammy.command.opendataseteditor"
                  label="Edit"
                  style="push">
            </command>
         </menu>
         <command
               commandId="fr.faylixe.jammy.command.runonlinedataset"
               label="Submit"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.faylixe.jammy.view.problem?after=problem.contribution">
         <command
               commandId="fr.faylixe.jammy.command.refreshproblem"
               icon="IMG_ELCL_SYNCED"
               label="Refresh problem"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
