<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="fr.faylixe.jammy.commands.category"
            defaultHandler="fr.faylixe.jammy.ui.command.ArchiveContestSelectionCommand"
            description="Start the contest selection wizard"
            id="fr.faylixe.jammy.command.contestselection"
            name="Select contest">
      </command>
      <command
            defaultHandler="fr.faylixe.jammy.ui.command.IdentifierContestSelectionCommand"
            id="fr.faylixe.jammy.command.identifiercontestselection"
            name="Select the current round using contest id">
      </command>
      <command
            categoryId="fr.faylixe.jammy.commands.category"
            defaultHandler="fr.faylixe.jammy.ui.command.RefreshProblemCommand"
            description="Reload the currently selected problem data"
            id="fr.faylixe.jammy.command.refreshproblem"
            name="Refresh problem">
      </command>
      <command
            categoryId="fr.faylixe.jammy.commands.category"
            defaultHandler="fr.faylixe.jammy.ui.command.OpenDatasetEditorCommand"
            description="Open an editor for modifying dataset input and output files"
            id="fr.faylixe.jammy.command.opendataseteditor"
            name="Edit dataset">
      </command>
      <command
            categoryId="fr.faylixe.jammy.commands.category"
            defaultHandler="fr.faylixe.jammy.ui.command.RunInputCommand"
            description="Run a submission for the given input selection."
            id="fr.faylixe.jammy.command.runonlinedataset"
            name="Run online dataset">
      </command>
     </extension>
    <extension
         point="org.eclipse.ui.views">
      <category
            id="fr.faylixe.jammy.view.category"
            name="Jammy">
      </category>
      <view
            category="fr.faylixe.jammy.view.category"
            class="fr.faylixe.jammy.ui.view.SubmissionView"
            icon="icons/view/submission.png"
            id="fr.faylixe.jammy.view.submission"
            name="Submission"
            restorable="true">
      </view>
      <view
            category="fr.faylixe.jammy.view.category"
            class="fr.faylixe.jammy.ui.view.ProblemView"
            icon="icons/view/problem.png"
            id="fr.faylixe.jammy.view.problem"
            name="Problem description"
            restorable="true">
         <description>
            This view displays the currently selected problem description.
         </description>
      </view>
      <view
            category="fr.faylixe.jammy.view.category"
            class="fr.faylixe.jammy.ui.view.Explorer"
            icon="icons/view/contest.png"
            id="fr.faylixe.jammy.view.contest"
            name="Contest Explorer"
            restorable="true">
         <description>
            Contest explorer allows to navigate between each problem exposed by the currently selected CodeJam round.
         </description>
      </view>
   </extension>
    <extension
          point="org.eclipse.ui.navigator.viewer">
          <viewerContentBinding
          	viewerId="fr.faylixe.jammy.view.contest">
          	<includes>
          		<contentExtension
          			isRoot="true"
          			pattern="fr.faylixe.jammy.ui.explorer.content">
          		</contentExtension>
          	</includes>
          </viewerContentBinding>
    </extension>
    <extension
          point="org.eclipse.ui.navigator.navigatorContent">
          <navigatorContent
          	contentProvider="fr.faylixe.jammy.ui.internal.ContestExplorerContentProvider"
          	labelProvider="fr.faylixe.jammy.ui.internal.ContestExplorerLabelProvider"
          	id="fr.faylixe.jammy.ui.explorer.content"
          	name="Contest explorer">
          	<triggerPoints>
          		<instanceof value="fr.faylixe.googlecodejam.client.webservice.ContestInfo"></instanceof>
          	</triggerPoints>
          </navigatorContent>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="fr.faylixe.jammy.ui.view.PreferencePage"
             id="fr.faylixe.jammy.preferences.root"
             name="Jammy">
       </page>
    </extension>
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="fr.faylixe.jammy.ui.JammyPerspectiveFactory"
             icon="icons/jammy.png"
             id="fr.faylixe.jammy.perspective"
             name="Jammy">
       </perspective>
    </extension>
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Jammy">
            <command
                  commandId="fr.faylixe.jammy.command.login"
                  label="Login"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="fr.faylixe.jammy.logged">
                     <equals
                           value="false">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.faylixe.jammy.command.logout"
                  label="Logout"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="fr.faylixe.jammy.logged">
                     <equals
                           value="true">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <menu
                  label="Contest">
               <command
                     commandId="fr.faylixe.jammy.command.contestselection"
                     id="fr.faylixe.jammy.contribution.select.contest"
                     label="Select from archive"
                     style="push">
               </command>
               <command
                     commandId="fr.faylixe.jammy.command.identifiercontestselection"
                     label="Select from contest id"
                     style="push">
               </command>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="fr.faylixe.jammy.logged">
                     <equals
                           value="true">
                     </equals>
                  </with>
               </visibleWhen>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:fr.faylixe.jammy.view.contest?after=additions">
         <menu
               label="Solver">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="fr.faylixe.googlecodejam.client.webservice.Problem">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
            <command
                  commandId="fr.faylixe.jammy.command.opensolver"
                  label="Open"
                  style="push">
            </command>
         </menu>
         <menu
               label="Sample dataset">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="fr.faylixe.googlecodejam.client.webservice.Problem">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
            <command
                  commandId="fr.faylixe.jammy.command.runtest"
                  label="Run"
                  style="push">
            </command>
            <command
                  commandId="fr.faylixe.jammy.command.opendataseteditor"
                  label="Edit"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <instanceof
                                 value="fr.faylixe.googlecodejam.client.webservice.Problem">
                           </instanceof>
                        </iterate>
                     </and>
                  </with>
               </visibleWhen>
            </command>
         </menu>
         <command
               commandId="fr.faylixe.jammy.command.runonlinedataset"
               label="Submit"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="fr.faylixe.googlecodejam.client.webservice.ProblemInput">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.faylixe.jammy.view.problem?after=problem.contribution">
         <command
               commandId="fr.faylixe.jammy.command.refreshproblem"
               icon="icons/refresh.gif"
               label="Refresh problem"
               style="push">
         </command>
      </menuContribution>
   </extension>
    <extension
          point="org.eclipse.ui.decorators">
       <decorator
             class="fr.faylixe.jammy.ui.internal.ContestExplorerLabelDecorator"
             id="fr.faylixe.jammy.ui.decorator"
             label="Contest explorer decorator"
             lightweight="true">
          <enablement>
             <objectClass
                   name="fr.faylixe.googlecodejam.client.webservice.ProblemInput">
             </objectClass>
          </enablement>
       </decorator>
    </extension>
</plugin>
