<footer>
    <div class="container">

      <div class="row-fluid">
        <div class="col-md-1">
          <img src="images/caution.png" class="center img-responsive"/>
        </div>
        <div class="col-md-3">
          <p class="small">
            Please note that this plugin is not provided by Google.
            Any responsability is declined if a bug occurs when
            you are using it in a real contest condition.
          </p>
        </div>
        <div class="col-md-8">
          <p>
          </p>
        </div>
      </div>
    </div>
</footer>
