<footer>
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-1">
          <img src="images/caution.png" class="center img-responsive"/>
        </div>
        <div class="col-md-3">
          <p class="small">
            Please note that this plugin is not provided by Google.
            Any responsability is declined if a bug occurs when
            you are using it in a real contest condition.
          </p>
        </div>
        <div class="col-md-8">
          <ul>
            <li><a href="https://github.com/Faylixe/review.classdesign.jammy" target="_blank">&gt;&nbsp;GitHub repository</a></li>
            <li><a href="http://classdesign.review" target="_blank">&gt;&nbsp;Author website</a></li>
            <li><a href="https://twitter.com/search?q=%23Jammy" target="_blank">&gt;&nbsp;Follow on twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
{% if page.title == "Home" %}
  <script type="text/javascript" src="js/carousel.js"></script>
{% endif %}
