<header>
  <nav class="jammy">
      <div class="container">
        <div class="navbar-header">
          <a href="index.html"><img class="img-responsive banner" src="images/banner.png" alt="Jammy"></a>
        </div>
        <div id="navigation" class="collapse navbar-collapse">
          <ul>
            <li><a href="installation.html">Installation</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="http://github.com/Faylixe/jammy/wiki" target="_blank">Developer wiki</a></li>
            <li><a href="https://github.com/Faylixe/jammy/issues" target="_blank">Issues</a></li>
          </ul>
        </div>
      </div>
  </nav>
</header>
