<header>
  <nav class="jammy">
      <div class="container">
        <div class="navbar-header">
          <a href="index.html"><img class="img-responsive banner" src="images/banner.png" alt="Jammy"></a>
        </div>
        <div id="navigation" class="collapse navbar-collapse">
          <ul>
            <li><a href="installation.html">Installation</a></li>
            <li><a href="documentation.html">Documentation</a></li>
            <li><a href="api.html">API</a></li>
          </ul>
        </div>
      </div>
  </nav>
</header>
