<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="review.classdesign.jammy.addons" name="Jammy Addons" schema="schema/review.classdesign.jammy.addons.exsd"/>

 
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="fr.faylixe.jammy.core.service.factory.GoogleSessionServiceFactory">
         <service
               serviceClass="fr.faylixe.jammy.core.service.IGoogleSessionService">
         </service>
      </serviceFactory>
      <serviceFactory
            factoryClass="fr.faylixe.jammy.core.service.factory.SubmissionServiceFactory">
         <service
               serviceClass="fr.faylixe.jammy.core.service.ISubmissionService"></service>
      </serviceFactory>
      <sourceProvider
            provider="fr.faylixe.jammy.core.service.internal.GoogleSessionProvider">
         <variable
               name="review.classdesign.jammy.logged"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="review.classdesign.jammy.commands.category"
            name="Jammy">
      </category>
      <command
            categoryId="review.classdesign.jammy.commands.category"
            defaultHandler="fr.faylixe.jammy.core.command.OpenSolverCommand"
            id="review.classdesign.jammy.command.opensolver"
            name="Open problem solver">
      </command>
      <command
            categoryId="review.classdesign.jammy.commands.category"
            defaultHandler="fr.faylixe.jammy.core.command.RunSampleDatasetCommand"
            id="review.classdesign.jammy.command.runtest"
            name="Run sample dataset">
      </command>
   </extension>

</plugin>
